/* font link  */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* common css start  */
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/* common css end  */ 

/* header css start  */
header {
    padding: 20px 0;
    background-color: #fcdb00;
}
.menu ul li a {
    padding: 0 45px !important;
    font-size: 20px;
    font-weight: 700;
}
.menu ul li :last-child a{
    padding-right: 0 !important;
}
.menu ul li a:hover{
    color: #898989 !important;
}
/* header css end  */

/* bannner start   */
.slider {
    /* height: 620px;
    background-color: #fcdb00; */
}

/* bannner end   */